{#
/**
 * @file se_supplier.html.twig
 * Default theme implementation to present Supplier data.
 *
 * This template is used when viewing Supplier pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_se_supplier()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('se_supplier') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
