{#
/**
 * @file se_bill.html.twig
 * Default theme implementation to present Bill data.
 *
 * This template is used when viewing Bill pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_se_bill()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('se_bill') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
