{#
/**
 * @file se_invoice.html.twig
 * Default theme implementation to present Invoice data.
 *
 * This template is used when viewing Invoice pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_se_invoice()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('se_invoice') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
