{#
/**
 * @file
 * Theme file for item line formatter.
 */
#}
<tr>
    <td class="target_id">
        {{ target_id }}
    </td>
    <td class="amount">
        {{ amount }}
    </td>
    <td class="payment_date">
        {{ payment_date }}
    </td>
    <td class="payment_type">
        {{ payment_type }}
    </td>
</tr>
