{#
/**
 * @file se_stock_item.html.twig
 * Default theme implementation to present Stock item data.
 *
 * This template is used when viewing Stock item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_se_stock_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('se_stock_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
