{#
/**
 * @file se-store.html.twig
 * Default theme implementation to present Store data.
 *
 * This template is used when viewing Store pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_se_store()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('se-store') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
