{#
/**
 * @file se_document.html.twig
 * Default theme implementation to present Document data.
 *
 * This template is used when viewing Document pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_se_document()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('se_document') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
